---
layout: lesson
title: Introduction to Functions
video_url: "https://www.youtube.com/watch?v=zvzjaqMBEso"
hack_prompt: "How would you explain a function to a 5th grader?"
permalink: /lesson
---

Functions are blocks of code that do a specific job when called.

{% include video.html %}

Try this one out for yourself:

{% include hack.html %}


{% include flashcards.html %}


this is student created flashcards

{% include flashcard-notes.html %}


Practice game!

{% include game.html %}


We'd love your feedback:

{% include poll.html %}